.container{
    height: 100%;
    width: 100%;

}

.playlists{

    padding-top: 0px;
    height: 90%;
    width: 100%;
    top: 0px;
    overflow-y: scroll;
    overflow-x: hidden;


}
.playlists::-webkit-scrollbar{
    display: none;
}

.loginBtn{
    width: 100px;
    height: 50px;
    background-color: #3C7AC7;
    color: white;
    margin-top: 25%;
    margin-left: 45%;
}